body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: black;
  color: white;
  text-align: center;
}

.emoji-home {
  margin-top: 100px;
}

.house {
  font-size: 100px;
}

.label {
  font-size: 32px;
  margin: 20px auto;
  height: 40px;
  transition: all 0.3s ease;
}

.emoji-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 40px;
}

.emoji-item {
  font-size: 40px;
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.emoji-item:hover {
  transform: scale(2);
}
